<div style="padding: 10px;">
	<style>
		.card:hover { transform: translateY(-20px); transition: 0.4s ease-out; }
		.card:hover h5 { text-decoration: underline; color:rgb(220, 110, 61)} .card
		{ transition: 0.4s ease-out; }

	</style>
	<h1 style="text-align: center;">See what all the pandas are up to...</h1>
	<ul
		class="card_list"
		style="list-style: none;  margin: auto; width: 90%; padding: 10px;"
	>
		{{#each allBlogs}}
			<li
				id="{{this.blog_id}}"
				class="card"
				style="width: 25rem; margin:10px; padding: 10px; display:inline-flex; border-radius: 2%"
			>
				<div class="card-body" style="height: 300px;">
					<a href="/blogs/{{this.blog_id}}" class="card-link"><h5
							class="card-title"
						>{{this.title}}</h5></a>
					<p class="card-text">🐼 <span>:</span> {{this.author}} </p>
					<p class="card-text">{{this.snippet}} </p>
					<p class="card-text">category <span>:</span> {{this.category}} </p>
					<p class="card-text"> {{this.datePosted}} </p>
				</div>
			</li>
		{{/each}}
	</ul>
</div>